#navbar {
    padding: 0;
}

#navbar li {
    display: inline;
}

#navbar a {
    padding: 5px 7.5px 5px 7.5px;
    text-decoration: none;
    border-radius: 5px;
}

#navbar .navbar-link {
	background-color: white;
	color: black;
	border: 1px solid black;
}

#navbar .navbar-link:hover {
    background-color: black;
	color: white;
}